/* .service {
  /* border: 1px solid rgb(238, 227, 227); */
/* row-gap: 10px; */
/* background-color: lightgray; */
/* } */
.service-img {
  width: 200px;
  height: 150px;
  border-radius: 15px;
  padding: 10px;
  transition: 0.4s;
}

.service-img:hover {
  transform: scale(1.1);
}

.bgcolor {
  padding: 15px;
  margin: 20px;
  height: 100%;
  border-radius: 15px;
  transition: 0.4s;
}

.bgcolor:hover {
  /* background-color: rgb(212, 254, 255); */
  box-shadow: 2px 2px 10px 1px rgb(206, 206, 206);
}

.btn-success {
  padding: 5px 6px;
  transition: 0.4s;
  border: 1px solid white;
}

.btn-success:hover {
  border: 1px solid rgb(43, 238, 4);
  color: rgb(228, 17, 217);
  background-color: #fff;
}