.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: -60px;
}

.card {
  background-color: rgb(11, 182, 255);
  padding: 15px;
  border-radius: 15px;
}

@media only screen and (max-width: 688px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 669px) and (max-width: 991px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
