.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
}

.header img {
  width: 170px;
}

.header .links {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}
.nav-img {
  width: 50px;
}

.btn-danger2 {
  background-color: rgb(17, 104, 0);
  color: aliceblue;
  border: 1px solid green;
  transition: 0.4s;
  margin-top: 9px;
}

.btn-warning {
  width: 100px;
}

.btn-danger2:hover {
  background-color: #fff;
  color: rgb(17, 104, 0);
  border: 1px solid green;
}

.menuBtn {
  border: none;
  color: #fff;
  background-color: rgb(0, 0, 0);
  font-size: 13px;
  margin-right: -20px;
}

.signup {
  margin-right: 0px;
  margin-left: -20px;
}

.toggle {
  background-color: #fff;
}
